.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cardQuantity {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.cart img {
  width: 50px;
  height: 50px;
}

.cartBody {
  background-color: var(--secondColor);
  display: flex;
  justify-content: center;
  padding: 0 30px;
  align-items: center;
}

.cartWrapper {
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  margin: 50px 0;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart h2 {
  font-size: 0.9rem;
  font-weight: 400;
}

.cart h3 {
  margin-left: 30px;
  font-weight: 500;
  font-size: 1rem;
}

.cart h3 i {
  font-size: 0.9rem;
}

.total h2 {
  font-size: 1.2rem;
}

.total p {
  font-size: 1.3rem;
  font-weight: 700;
}

.total p i {
  font-size: 1.1rem;
}

.cardQuantity i {
  color: var(--fourthColor);
  font-size: 0.8rem;
  padding: 5px;
  border: 1px solid var(--fourthColor);
}

.cardQuantity i:hover {
  color: var(--mainColor);
  background-color: var(--fourthColor);
}

.cardQuantity input {
  padding: 3px;
  width: 40px;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  text-align: center;
}

.cardQuantity input:focus {
  outline: none;
}

.cardQuantity input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart button {
  background-color: transparent;
  border: 1px solid var(--fourthColor);
  color: var(--fourthColor);
  font-size: 0.8rem;
  padding: 3px 10px;
}

.checkoutbtn {
  padding: 15px 0;
  color: var(--mainColor);
  border: none;
  background-color: var(--fourthColor);
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.checkoutbtn i {
  padding: 0 10px;
}

.checkoutbtn a:hover {
  text-decoration: none !important;
}

#cardbtn {
  border: none;
  background-color: var(--thirdColor);
}

.payPalBtn {
  z-index: 1;
}

/* card check out  */

#formPayment {
  background-color: var(--mainColor);
  padding: 30px;
  margin: 40px;
}

#formPayment input {
  display: block;
  border: 2px solid var(--secondColor);
  width: 400px;
  padding: 15px 20px;
  margin: 10px 0;
  transition: 0s;
  border-radius: 4px;
}

#formPayment input[type="number"] {
  font-size: 1.2rem;
  padding: 10px 20px;
}

#formPayment input:focus {
  border: 2px solid var(--fourthColor);
  outline: none;
}

#formPayment input::placeholder {
  font-size: 1rem;
}

#formPayment input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#formPayment select {
  transition: 0s;
  display: block;
  width: 400px;
  padding: 15px 20px;
  margin: 10px 0;
  border: 2px solid var(--secondColor);
  border-radius: 4px;
  text-transform: capitalize;
}

#formPayment select:focus {
  border: 2px solid var(--fourthColor);
  outline: none;
  font-size: 1rem;
}

#formPayment option {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.cvv {
  position: relative;
}

.cvv img {
  position: absolute;
  height: 60%;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.expiry {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.expiry input {
  width: 195px !important;
}

#submit {
  display: block;
  width: 100%;
  padding: 15px 20px;
  border: none;
  color: var(--mainColor);
  text-transform: capitalize;
  background-color: var(--fourthColor);
  margin-top: 20px;
  border-radius: 5px;
}

#payment-message {
  color: red;
  font-size: 0.9rem;
  margin: 10px 0;
}

#payment-message i {
  padding-right: 10px;
}

.totalextras {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalextras p {
  font-size: 0.7rem;
}

.totalextras p i {
  font-size: 0.6rem;
}

.totalextras h2 {
  font-size: 0.8rem;
  font-weight: 400;
}

.cartWrapper a {
  color: var(--mainColor);
  text-decoration: none;
}

.cartWrapper a:hover {
  text-decoration: underline;
}

#continueLink {
  color: darkblue;
}

.emtyCart {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.emtyCart p {
  font-size: 1rem;
  font-weight: 700;
}

.emtyCart img {
  width: 300px;
  height: auto;
}

.emtyCart a {
  color: var(--fourthColor);
}

/* loading Animation   */
.cartloadingAnimationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
}

.thanks {
  background-color: var(--mainColor);
  box-shadow: 1px 1px 4px var(--thirdColor);
  display: inline-block;
  padding: 30px;
  border-radius: 5px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1000;
}

.thanks p {
  font-size: 1.1rem;
  color: var(--thirdColor);
  line-height: 30px;
}

.thanks div {
  display: flex;
  justify-content: end;
}

.empty {
  border: 2px solid red !important;
}

.cardNumber p {
  color: red;
  font-size: 0.9rem;
}

.cardNumber p i {
  padding-right: 10px;
}

@media (max-width: 1020px) {
  .cardQuantity {
    column-gap: 10px;
  }

  .cartBody {
    flex-direction: column;
  }

  .cartWrapper {
    margin: 20px;
  }

  .total h2 {
    font-size: 1rem;
  }

  .total p {
    font-size: 1.1rem;
  }

  .total p i {
    font-size: 1rem;
  }

  .cardQuantity input {
    width: 30px;
  }

  .checkoutbtn {
    padding: 15px;
    font-size: 1rem;
  }

  .checkoutbtn i {
    padding: 0 10px;
  }

  #cardbtn {
    padding: 15px;
    font-size: 1rem;
  }

  #formPayment {
    margin-top: 20px;
    margin-bottom: 0;
  }

  #formPayment input {
    width: 100%;
    padding: 10px 20px;
  }

  #formPayment input[type="number"] {
    font-size: 1.1rem;
    padding: 8px 20px;
  }

  #formPayment input::placeholder {
    font-size: 0.9rem;
  }

  #formPayment select {
    width: 100%;
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  #formPayment option {
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  .expiry input {
    width: 49% !important;
  }

  .cvv {
    width: 49%;
  }

  .cvv input {
    width: 100% !important;
  }

  #submit {
    padding: 15px;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  #formPayment {
    width: 100%;
  }

  .cartBody {
    padding: 10px;
  }

  .cartWrapper {
    width: 100%;
    padding: 20px;
  }

  .cartWrapper a {
    padding: 10px;
  }

  .checkoutbtn i {
    padding: 0 10px;
  }

  .cart {
    gap: 10px;
  }

  .cart button {
    padding: 5px;
  }

  .cart h3 {
    margin-left: 0px;
    font-size: 0.8rem;
  }

  .cart h2 {
    display: none;
  }

  .cart h3 i {
    font-size: 0.7rem;
  }

  .checkoutbtn {
    width: 100%;
  }

  .emtyCart img {
    width: 200px;
    height: auto;
  }

  .emtyCart p {
    font-size: 0.9rem;
  }

  .thanks {
    padding: 20px;
    border-radius: 4px;
    width: 85%;
  }

  .thanks p {
    font-size: 0.9rem;
    line-height: 25px;
  }
}
