.forgotPassword {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.forgotPassword main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 70%;
  gap: 30px;
  box-shadow: 1px 1px 8px var(--secondColor);
  padding: 40px;
}

.forgotPassword img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.forgotPassword form {
  padding: 10px 0;
  padding-right: 50px;
  margin-top: 40px;
  position: relative;
}

.forgotPassword h1 {
  text-transform: capitalize;
  font-size: 2rem;
}

.forgotPassword label {
  text-transform: capitalize;
  display: block;
  padding: 10px 0;
}

.forgotPassword input {
  width: 300px;
  font-size: 1rem;
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--secondColor);
  transition: 0s;
}

.forgotPassword input:focus {
  outline: none;
  border: 2px solid var(--fourthColor);
}

.forgotPassword button {
  padding: 10px 0;
  color: var(--mainColor);
  background: var(--buttonColor);
  border: none;
  border-radius: 3px;
  margin-top: 5px;
  display: block;
  margin: 20px 0;
  margin-bottom: 30px;
  width: 50%;
  font-size: 1rem;
}

.forgotPassword a {
  margin-bottom: 70px;
  text-decoration: none;
  color: darkblue;
  font-size: 1.2rem;
  display: block;
  text-decoration: underline;
}

.forgotPassword form p {
  text-transform: capitalize;
  padding-top: 10px;
}

.forgotPassword main div div p {
  padding: 5px 0;
  font-size: 0.8rem;
}

.forgotPassword input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formresetField div {
  position: relative;
}

.formresetField div i {
  color: var(--fourthColor);
  position: absolute;
  right: 15px;
  top: 33%;
}

/* loading animation  */

.spinner {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 2px solid var(--mainColor);
  border-radius: 50%;
  border-left: 2px solid transparent;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  .forgotPassword main {
    width: 90%;
    padding: 30px;
  }
}

@media (max-width: 800px) {
  .forgotPassword {
    height: 100vh;
    display: block;
  }

  .forgotPassword main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    gap: 20px;
    box-shadow: none;
    padding: 0;
    width: 100%;
  }

  .forgotPassword main div {
    width: 100%;
    padding: 30px;
  }

  .forgotPassword img {
    width: 100%;
    height: 40vh;
    object-fit: contain;
  }

  .forgotPassword form {
    padding: 10px 0;
    padding-right: 0;
    margin-top: 0;
    position: relative;
  }

  .forgotPassword h1 {
    font-size: 1.5rem;
  }

  .forgotPassword input {
    width: 100%;
  }

  .forgotPassword button {
    font-size: 0.9rem;
  }
}
