.containerLogin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLogin nav {
  padding: 0 10px;
  position: fixed;
  width: 100%;
  background-color: var(--mainColor);
  top: 0;
  z-index: 100;
}

.containerLogin nav img {
  width: 100%;
  height: 80px;
  object-fit: contain;
}

.containerLogin main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-width: 70%;
  gap: 30px;
  margin-top: 120px;
}

.containerLogin img {
  width: 40%;
  height: 100%;
  object-fit: contain;
}

.containerLogin form {
  padding: 30px 0;
  position: relative;
}

.containerLogin form h1 {
  text-transform: capitalize;
  font-size: 2rem;
}

.containerLogin form h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 400;
}

.containerLogin form div {
  position: relative;
  margin: 10px 0;
}

.containerLogin form div i {
  position: absolute;
  top: 33%;
  width: 20px;
  height: 100%;
  color: var(--fourthColor);
}

.containerLogin form div i:not(.passwordField i:last-child) {
  left: 18px;
}

.passwordField i:last-child {
  right: 15px;
}

.containerLogin input {
  width: 100%;
  font-size: 1rem;
  padding: 8px 40px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--secondColor);
  transition: 0s;
}

.containerLogin input::placeholder {
  text-transform: capitalize;
  font-size: 0.8rem;
}

.containerLogin input:focus {
  outline: none;
  border: 2px solid var(--fourthColor);
}

.containerLogin button {
  padding: 10px 0;
  color: var(--mainColor);
  background: var(--buttonColor);
  border: none;
  border-radius: 3px;
  margin-top: 5px;
  display: block;
  margin: 20px 0;
  width: 50%;
  font-size: 1rem;
}

.containerLogin form a {
  margin-bottom: 20px;
  text-decoration: none;
  color: darkblue;
  font-size: 1.2rem;
  display: block;
}

.loginLinks {
  border-top: 1px solid var(--secondColor);
  padding: 20px 0;
}

.loginLinks a {
  margin: 0 !important;
  font-size: 1rem !important;
  text-decoration: underline !important;
}

.loginLinks p a {
  display: inline;
  margin-left: 10px !important;
}

.loginLinks p {
  font-size: 1rem;
}

.loginLinks p:last-child {
  font-size: 0.8rem;
  margin-top: 20px;
}

.verifyNote {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verifyNote div {
  background-color: var(--mainColor);
  padding: 30px 20px;
  border-radius: 5px;
}

.verifyNote div button {
  text-transform: capitalize;
  text-decoration: underline;
  border: none;
  background-color: transparent;
}

.verifyNote div a {
  padding: 5px;
  color: var(--mainColor);
  background-color: var(--fourthColor);
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.verifyNote div p {
  padding: 10px 0;
}

/* loading animation  */

.loadingAnimationContainer {
  padding: 5px 30px;
  background-color: var(--fourthColor);
  border-radius: 3px;
  margin-top: 5px;
  display: inline-block;
  margin: 20px 0;
}

.loadingAnimation {
  width: 100%;
  height: 100%;
  border-color: var(--mainColor);
  width: 1.2rem;
  height: 1.2rem;
}

@media (max-width: 800px) {
  .containerSignup {
    display: block;
  }
  .containerLogin nav img {
    width: 100%;
    height: 80px;
  }

  .containerLogin main {
    display: block;
    border-radius: 0;
    padding: 0 30px;
    margin-top: 100px;
    box-shadow: none;
  }

  .containerLogin main img {
    display: none;
  }

  .containerLogin form {
    padding: 20px 0;
    padding-bottom: 0;
  }

  .containerLogin form h1 {
    font-size: 1.5rem;
  }

  .containerLogin form h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .containerLogin input::placeholder {
    font-size: 0.7rem;
  }

  .containerLogin button {
    padding: 8px 0;
    margin-top: 20px;
    width: 100%;
    font-size: 0.9rem;
  }

  .containerLogin form a {
    margin-bottom: 20px;
    font-size: 0.9rem;
  }

  .loginLinks {
    border-top: 1px solid var(--secondColor);
    padding: 20px 0;
  }

  .loginLinks a {
    font-size: 0.8rem !important;
  }

  .loginLinks p {
    font-size: 0.8rem;
  }
}
