.containerSignup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSignup nav {
  padding: 0 10px;
  position: fixed;
  width: 100%;
  background-color: var(--mainColor);
  top: 0;
  z-index: 100;
}

.containerSignup nav img {
  width: 100%;
  height: 80px;
  object-fit: contain;
}

.containerSignup main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-width: 70%;
  gap: 30px;
  margin-top: 110px;
}

.containerSignup img {
  width: 40%;
  height: 100%;
  object-fit: contain;
}

.containerSignup form {
  padding: 30px 0;
  position: relative;
}

.containerSignup form h1 {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 10px;
}

.namesDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.namesDiv div {
  width: 49%;
}

.namesDiv div label {
  display: block;
}

.containerSignup input {
  width: 100%;
  font-size: 1rem;
  padding: 8px 20px;
  font-size: 1rem;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid var(--secondColor);
  transition: 0s;
  display: block;
}

.containerSignup div:first-child div input {
  display: block;
}

.containerSignup input::placeholder {
  text-transform: capitalize;
  font-size: 0.8rem;
}

.containerSignup input:focus {
  outline: none;
  background-color: transparent;
  border: 2px solid var(--fourthColor);
}

.containerSignup button {
  padding: 10px 0;
  color: var(--mainColor);
  background: var(--buttonColor);
  border: none;
  border-radius: 3px;
  margin-top: 5px;
  display: block;
  margin: 20px 0;
  width: 50%;
  font-size: 1rem;
}

.containerSignup label {
  margin-top: 10px;
  font-size: 1rem;
  display: block;
  text-transform: capitalize;
}

/* empty input  */
.empty {
  border: 2px solid red !important;
}

.input-container {
  position: relative;
  width: auto;
}

.input-container i {
  position: absolute;
  padding: 10px 20px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--fourthColor);
  font-size: 0.8rem;
}

.containerSignup form a {
  text-decoration: none;
  color: darkblue;
  font-size: 1.2rem;
}

.containerSignup form p {
  margin-bottom: 10px;
}

.signupLinks {
  padding: 10px 0;
}

.signupLinks a {
  margin: 0 !important;
  font-size: 1rem !important;
  text-decoration: underline !important;
}

.signupLinks p {
  font-size: 0.8rem;
}

/* loading animation  */

.loadingAnimationContainer {
  padding: 5px 30px;
  background-color: var(--fourthColor);
  border-radius: 3px;
  margin-top: 5px;
  display: inline-block;
  margin: 20px 0;
}

.loadingAnimation {
  width: 100%;
  height: 100%;
  border-color: var(--mainColor);
  width: 1.2rem;
  height: 1.2rem;
}

/* verify note is styled in login.css file  */

@media (max-width: 800px) {
  .containerSignup {
    display: block;
  }

  .containerSignup nav img {
    height: 80px;
    display: block;
  }

  .containerSignup main {
    display: block;
    box-shadow: none;
    padding: 0 30px;
    margin-top: 100px;
  }

  .containerSignup img {
    display: none;
  }

  .containerSignup form {
    padding: 20px 0;
  }

  .containerSignup form h1 {
    font-size: 1.5rem;
  }

  .containerSignup input::placeholder {
    font-size: 0.7rem;
  }

  .containerSignup button {
    padding: 8px 0;
    margin-top: 20px;
    width: 100%;
    font-size: 0.9rem;
  }

  .containerSignup form a {
    margin-bottom: 50px;
    font-size: 0.9rem;
  }

  .containerSignup form p {
    margin-bottom: 10px;
    font-size: 0.9rem;
  }

  .signupLinks {
    padding: 10px 0;
  }

  .signupLinks a {
    font-size: 0.8rem !important;
  }

  .signupLinks p {
    font-size: 0.8rem;
  }
}
